export LOGRUS_LEVEL=debug
export ORIGIN_URL='none'
export REPOSITORY_NAME='ivanfetch-fw/insights-ci-test'
# These are needed when testing autoscan
# Also in the CI plugin, pkg/ci/ci.go, temporarily modify:
# basePath := filepath.Join("/app", "repository")
#export CLONE_REPO='true'
export BRANCH_NAME='test1'
export BASE_BRANCH='main'
export IMAGE_VERSION='4.2'
export ORG_NAME='acme-co'
#export HOSTNAME='http://localhost:3000'
export HOSTNAME='https://staging.insights.fairwinds.com'

source .env-private

